@import url("https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV,SHRP@100..900,0..1,0..100&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #01030c;
  --block: #181f39;
  --headerColor: var(--primaryColor);
  --textPrimary: #fff;
  --textSecondary: #000;
  --primaryColor: #050f1a;
  --inputColor: #242424;
  --red: red;
  --drop-shadow: rgba(255, 255, 255, 0.414);

  /* --success: #b9f6ca; */
  --success: #377b4a;
  --warning: #ffecb3;
  --no-show: #e6812f;
  --modalFilter: #081729da;
  --revenueBox: rgb(220, 236, 222);
  --blueBox: rgb(214, 219, 252);
}


body {
  font-family: "Inter", sans-serif;

  background: var(--background);
  color: white;
}

h1 {
  font-family: "Geologica", sans-serif;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
