@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@700,0&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #01030c;
  --block: #181f39;
  --headerColor: var(--primaryColor);
  --textPrimary: #fff;
  --textSecondary: #000;
  --primaryColor: #081729;
  --inputColor: #242424;
  --red: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;

  background: var(--background);
  color: white;
}

h1 {
  font-family: "Geologica", sans-serif;
}
